.ut-alert {
	background: #fedd56;
	padding: 30px 30px 20px;
}

.inner-alert {
	display: flex;
	max-width: var(--wp--style--global--wide-size);
	margin: 0 auto;
	flex-direction: column;
}

.icon-container {
	min-width: 32px;
	width: 32px;
	margin: 0 0 10px;

	svg {
		display: block;
		width: 100%;
	}
}

h3.alert-heading {
	font-size: 24px;
	font-weight: var(--wp--custom--font-weight--black);
	margin: 0;
}

p.alert-text {
	font-size: 16px;
	margin: 0 0 10px 0;
}

p.alert-posted {
	font-size: 16px;
	font-weight: var(--wp--custom--font-weight--medium);
	margin: 0;
}

.ut-alert-link {
	display: inline-block;
	background: #fff;
	padding: 15px 50px 15px 15px;
	border-radius: 10px;
	margin-right: 0 !important;
}

/* Mobile styles */
@media only screen and (min-width: 600px) {
	.ut-alert {
		padding: 40px 40px 30px;
	}

	.inner-alert {
		flex-direction: row;
	}

	.icon-container {
		min-width: 64px;
		width: 64px;
		margin: 12px 0 0;
	}

	.content-container {
		margin-left: 30px;
	}

	h3.alert-heading {
		font-size: 31px;
	}

	p.alert-text {
		font-size: inherit;
	}
}